@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   BackgroundClass="my-custom-class" />
@* Needed for snackbars *@
<MudSnackbarProvider />

@* Include the actual Snackbar component *@
<MudSnackbar />


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <AuthorizeView>
              <NotAuthorized>
                <a href="/login">Login</a>
              </NotAuthorized>
              <Authorized>
                  <a href="/logout">Logout</a>
              </Authorized>
          </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

