@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CoffeeShopManagement</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/Images/home.png" alt="Product" width="30" height="30" style="margin-right: 10px;" /> Home
            </NavLink>
        </div>


        <AuthorizeView Roles="Adminstrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Product">
                        <img src="/Images/cf1.png" alt="Product" width="30" height="30" style="margin-right: 10px;" />Product
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Adminstrator,User">
            <Authorized >
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Order">
                              <img src="/Images/cf.png" alt="Order" width="30" height="30" style="margin-right: 10px;" />Order
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Adminstrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Ingredient">
                        <img src="/Images/ig.png" alt="Order" width="30" height="30" style="margin-right: 10px;" />Ingredient
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

