@page "/DeleteOrder/{Customername}/{Productname}"
@using CoffeeShopManagementSystem.ApiControl
@inject IApiCall apicall
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject IDialogService DialogService
@rendermode InteractiveServer
@* <h3>Delete Product</h3>

<p>Are you sure you want to delete the product: <strong>@Name</strong>?</p>
<button class="btn btn-dark">Delete</button>
 *@

<MudCard Style="border: 1px solid black;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Delete Order</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>

        <MudText Typo="Typo.body2">Are you sure to delete Order for customer : @Customername and product : @Productname </MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" @onclick="OnValidSubmit" Color="Color.Dark" Style="margin-right: 10px;">Delete</MudButton>
        <MudButton Variant="Variant.Outlined" @onclick="OnCancelSubmit" Color="Color.Dark">Cancel</MudButton>
    </MudCardActions>
</MudCard>


@code {
    [Parameter] public string? Customername { get; set; }
    [Parameter] public string? Productname { get; set; }


    private async Task OnValidSubmit()
    {

        var response = await apicall.DeleteOrder(Customername,Productname);
        if (response.ErrorCode == "00")
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Success!",
                text = "Order Deleted successfully!",
                icon = "success",
                confirmButtonText = "OK"
            });
        }
        else
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Error!",
                text = response.ErrorMessage,
                icon = "error",
                confirmButtonText = "OK"
            });
        }
        navigationManager.NavigateTo("/Order"); // Navigate to Product pag
    }
    private async Task OnCancelSubmit()
    {
        navigationManager.NavigateTo("/Order"); 
    }
}


}