@page "/AddProduct"
@using CoffeeShopManagementSystem.ApiControl
@using CoffeeShopManagementSystem.Domain.Model.DTO
@rendermode InteractiveServer
@inject IApiCall apicall
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h5 class="p-2">Add Product</h5>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit" FormName="Addproduct">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField ShrinkLabel @bind-Value="model.Name" Label="Name" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.Quantity" Label="Quantity" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.Amount" Label="Amount" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.Category" Label="Category" Variant="Variant.Text" class="p-2"></MudTextField>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Dark" Class="ml-auto" Href="/Product">
                        Cancel
                    </MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark" Class="m-2">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    private ProductDto model = new ProductDto();

    private async Task OnValidSubmit()
    {
        ProductDto product = new ProductDto
            {
                Name = model.Name,
                Quantity = model.Quantity,
                Amount = model.Amount,
                Category = model.Category
            };

        var response = apicall.AddProduct(product); // Assuming this returns a Response object

        if (response == true) // Check if the operation was successful
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Success!",
                text = "Product added successfully!",
                icon = "success",
                confirmButtonText = "OK"
            });
            navigationManager.NavigateTo("/Product"); // Navigate to Product page
        }
        else
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Error!",
                text = "Error adding product: " + response,
                icon = "error",
                confirmButtonText = "OK"
            });
        }
    }
}
