@page "/DeleteProduct/{Name}"
@using CoffeeShopManagementSystem.ApiControl
@inject IApiCall apicall
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject IDialogService DialogService
@rendermode InteractiveServer
@* <h3>Delete Product</h3>

<p>Are you sure you want to delete the product: <strong>@Name</strong>?</p>
<button class="btn btn-dark">Delete</button>
 *@

<MudCard Style="border: 1px solid black;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Delete Product</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
      
        <MudText Typo="Typo.body2">Are you sure to delete Product : @Name</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Outlined" @onclick="OnValidSubmit" Color="Color.Dark">Delete</MudButton>
    </MudCardActions>
</MudCard>


@code {
    [Parameter] public string  Name { get; set; }  // Ensure 'id' matches the route parameter

    private async Task OnValidSubmit()
    {

        var response = await apicall.DeleteProduct(Name);
        if (response.ErrorCode == "00")
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Success!",
                text = "Product Deleted successfully!",
                icon = "success",
                confirmButtonText = "OK"
            });
        }
        else
        {
            await jsRuntime.InvokeVoidAsync("Swal.fire", new
            {
                title = "Error!",
                text = response.ErrorMessage,
                icon = "error",
                confirmButtonText = "OK"
            });
        }
        navigationManager.NavigateTo("/Product"); // Navigate to Product pag
    }
}


}